<div>
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Add a book</h3>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td>
                <input type="text" placeholder="Book title" ng-required="true" ng-model="book.title" />
              </td>
              <td>
                <fieldset data-ng-repeat="author in book.authors">
                  <input type="text" placeholder="Author first name" ng-required="true" ng-model="author.firstName" />
                  <input type="text" placeholder="Author last name" ng-required="true" ng-model="author.lastName" />
                  <button class="btn btn-sm btn-danger" ng-show="$last" ng-click="removeAuthor()">Remove</button>
                </fieldset>
              </td>
            </tr>
          </table>
          <p>
            <button class="btn btn-success" ng-click="addAuthor()">Add author</button>
          </p>
            <p>
              {{ comment }}
              <pre>{{book | json}}</pre>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="addThatBook(book)">Save Book</button>
            <button class="btn btn-info" ng-click="buttonClic()">Dummy button</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
        </div>
    </form>
</div>
